<h1>Crete New Word Set</h1>
<form action="/word" method="POST">
<input type="text" name="set" placeholder="Name this set of words"/>
<input type="text" name="mammal" placeholder="Any mammal you can think of"/>
<input type="text" name="object" placeholder="Any object you can think of"/>
<input type="text" name="verb" placeholder="Past tense verb"/>
<input type="text" name="adjective" placeholder="Any adjective you can think of"/>
<input type="number" name="number" placeholder="Any number you can think of"/>
<input type="submit" value="Create Set"/>
</form>