body {
    text-align: center;
    font-size: 24px;
    margin: 0 auto;
    font-family: 'Anton', sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}
.main-container {
    width: 50%;
    margin: 0 auto;
    padding: 30px;
}
header  {
    text-align: center;
    display: flex;
    justify-content: center;    
}
.blank {
    color: white;
    border-bottom: 2px solid black;
}
.header-container {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    background-color: black;
}
.utter {
    margin: 0, auto;
    font-family: 'Niconne', cursive;
    font-size: 70px;
    color: white;
    letter-spacing: 2px;
}
.nonsense {
    font-size: 90px;
    background-color: blue;
    padding: 15px;
    background-color: white;
    border: 5px solid black; 
}

.img-container {
    display: flex;
    justify-content: center;
    margin: 20px auto;

}
.polaroid {
    max-width: 65%;
    background-color: rgb(240, 240, 240);
    box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
    border: 1px solid rgb(128, 128, 128, 0.75);
    padding: 20px 15px 70px 15px;
   
}
h1 {
    font-size: 60px;
    margin: 0 auto;
}
img {
    max-width: 95%;
    border: 1px solid rgb(128, 128, 128, 0.75);
    box-shadow: 0 4px 6px rgba(0, 0, 0, .3);   
}

strong {
    font-size: 32px;
}
.form-all {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    
}
.form-section {
    display: flex;
    width: 50%;
    justify-content: center;
    flex-direction: column;
    margin: 20px;
}
.word-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 5px solid black; 
    padding: 15px;
}
.picture-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 5px solid black; 
    padding: 15px;
}

input[type=text], select {
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=number], select {
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=date], select {
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
  }

