
<div class="main-container">
<h1>Breakfast the most {{#each allWords}}<em>{{adjective}}</em>{{/each}} meal of the day!</h1>
<h2>My favorite way to start the day is with a big bowl of:</h2>
<div class="img-container">
<div class="polaroid">
{{#each allPictures}}
<img src="{{destination}}">
{{/each}}
</div>
</div>
<a href="/output/murder">
<button>Murder Theme</button>
</a>
<a href="/output/nature">
<button>Nature Theme</button>
</a>
<form action="/output?_method=DELETE" method="POST">
<input type="submit" value="Delete All"/>
</form>
</div>

