<div class="main-container">
<header>
<div class="header-container">
<h1 class="utter">Utter</h1>
<h1 class="nonsense">NONSENSE</h1>
</header>
</div>
<h2>Welcome to the most <span class="blank">BLANK</span>  you can have on the internet!</h2>
<div class="word-container">
<h1>Pick Your Words</h1>
<form action="/output" method="POST">
    <label for="animal">Any ANIMAL you can think of</label>
    <input type="text" name="animal" placeholder="Animal" />
    <label for="thing">Any THING you can think of </label>
    <input type="text" name="thing" placeholder="Thing" />
    <label for="verb">Past Tense VERB Please </label>
    <input type="text" name="verb" placeholder="Verb" />
    <label for="verb">Any ADJECTIVE you can think of</label>
    <input type="text" name="adjective" placeholder="Adjective"/>
    <label for="Number">Any NUMBER you can think of(pick a funny one)</label>
    <input type="number" name="number" placeholder="Number" />
</div>  
<h1>Create New Picture Set</h1>

    <input type="text" name="set" placeholder="Name Your Set" />
    <input type="text" name="destination" placeholder="Any place you can think of" />
    <input type="text" name="mammal" placeholder="Any mammal you can think of" />
    <input type="text" name="object" placeholder="Any Object you can think of" />
    <input type="date" name="dateTaken" placeholder="Make up a date the pictures were taken" />
   
<h1>Select a Theme</h1>
    <select name="dropDownTheme">
        <option></option>
        <option value="nature">Nature</option>
        <option value="breakfast">Breakfast</option>
        <option value="murder-y">Murder-y</option>
    </select>
    <p>Or Try your luck at creating your own theme</p>
    <input type="text" name="writeInTheme" placeholder="Make up your own theme" />
    <input type="submit" value="Create it!" />
</form>
</div>

