{{!-- <h1>Create New Word Set</h1>
<form action="/output" method="POST">
    <input type="text" name="setWord" placeholder="Name this set of words" />
    <input type="text" name="animal" placeholder="Any mammal you can think of" />
    <input type="text" name="thing" placeholder="Any object you can think of" />
    <input type="text" name="verb" placeholder="Past tense verb" />
    <input type="text" name="adjective" placeholder="Any adjective you can think of" />
    <input type="number" name="number" placeholder="Any number you can think of" />
    
<h1>Create New Picture Set</h1>

    <input type="text" name="set" placeholder="Name Your Set" />
    <input type="text" name="destination" placeholder="Any place you can think of" />
    <input type="text" name="mammal" placeholder="Any mammal you can think of" />
    <input type="text" name="object" placeholder="Any Object you can think of" />
    <input type="date" name="dateTaken" placeholder="Make up a date the pictures were taken" />
   
<h1>Select a Theme</h1>
    <select name="dropDownTheme">
        <option></option>
        <option value="nature">Nature</option>
        <option value="breakfast">Breakfast</option>
        <option value="Murder-y">Murder-y</option>
    </select>
    <p>Or Try your luck at creating your own theme</p>
    <input type="text" name="writeInTheme" placeholder="Make up your own theme" />
    <input type="submit" value="Create it!" />
</form> --}}