<div class="main-container">
<header>
<div class="header-container">
<h1 class="utter">Utter</h1>
<h1 class="nonsense">NONSENSE</h1>
</header>
</div>
<h3>Welcome to the most <span class="blank">BLANK</span>  you can have on the internet !</h3>
<div class="form-all">
<div class="form-section">
<form action="/output" method="POST">

<h1>Pick Your Words</h1>
<div class="word-container">
    <div class="input-container">
    <label for="animal">Any ANIMAL you can think of</label>
    <input type="text" name="animal" placeholder="Animal" />
    </div>
    <div class="input-container">
    <label for="thing">Any THING you can think of </label>
    <input type="text" name="thing" placeholder="Thing" />
    </div>
    <div class="input-container">
    <label for="verb">Past Tense VERB Please </label>
    <input type="text" name="verb" placeholder="Verb" />
    </div>
    <div class="input-container">
    <label for="verb">Any ADJECTIVE you can think of</label>
    <input type="text" name="adjective" placeholder="Adjective"/>
    </div>
    <div class="input-container">
    <label for="Number">Any NUMBER you can think of</label>
    <input type="number" name="number" placeholder="Number" />
    </div>
</div>  
</div>
<div class="form-section">
<h1>Pick Your Pictures</h1>
<div class="word-container">
    <p class="small"><em>Please Paste The Image's URL</em></p>
    <div class="input-container">
    <label for="destination">Image of any PLACE you can think of</label>
    <input type="text" name="destination" placeholder="Place Image URL"/>
    </div>
    <div class="input-container">
    <label for="mammal">Image of any MAMMAL you can think of</label>
    <input type="text" name="mammal" placeholder="Mammal Image URL" />
    </div>
    <div class="input-container">
    <label for="object">Image of any OBJECT you can think of</label>
    <input type="text" name="object" placeholder="Object Image URL" />
    </div>
    <div class="input-container">
    <label for="date">Any date you can think of</label>
    <input type="date" name="dateTaken"/>
    </div>

</div>
 </div>   
 <div class="form-section"> 
<h1>Select a Theme</h1>
<div class="word-container">
    <div class="input-container">
    <select name="dropDownTheme" class="no-shadow">
        <option></option>
        <option value="nature">Nature</option>
        <option value="breakfast">Breakfast</option>
        <option value="murder-y">Murder-y</option>
    </select>
    </div>
    <div class="input-container">
    <label for="writeInTheme">Or Try your luck creating your own theme</label>
    <input type="text" name="writeInTheme" placeholder="Your own theme" />
    </div>
</div>
<div class="submit">
 <input type="submit" value="Generate The NONSENSE" />
 </div>
</form>
</div>


 