
<div class="main-container">
<h1>I have no idea what "{{#each allThemes}}<strong>{{writeInTheme}}</strong>{{/each}}"" even is!</h1>

<p>So I'm going to tell you a story about the time I met a puppy instead.</p>

<a href="/output/murder">
<button>Murder Theme</button>
</a>
<a href="/output/breakfast">
<button>Breakfast Theme</button>
</a>
<a href="/output/nature">
<button>Breakfast Theme</button>
</a>
<form action="/output?_method=DELETE" method="POST">
<input type="submit" value="Delete All"/>
</form>
</div>